<section class="navbar">
  <section class="navigationButtons">
    <div class="logo">
      <img src="../../../../favicon.ico" alt="Kaloka Logo" /> Kaloka
    </div>
    <div class="searchBar">
      <span class="material-symbols-outlined"> search</span>
      <input type="text" placeholder="Explore kaloka" />
    </div>
    <button class="buttons">
      <div><span class="material-symbols-outlined"> home </span>Home</div>
      <span class="notificationCard">10</span>
    </button>
    <button class="buttons">
      <div>
        <span class="material-symbols-outlined"> groups </span>Community
      </div>
      <span class="notificationCard">10</span>
    </button>
    <button class="buttons">
      <div>
        <span class="material-symbols-outlined"> store </span>Marketplace
      </div>
      <span class="notificationCard">10</span>
    </button>
    <button class="buttons">
      <div>
        <span class="material-symbols-outlined"> event </span>Kaloka events
      </div>
      <span class="notificationCard">10</span>
    </button>
    <button class="buttons">
      <div><span class="material-symbols-outlined"> feed </span>News feed</div>
      <span class="notificationCard">10</span>
    </button>
  </section>
  <hr class="breakline" />
  <section class="myCommunity">
    <div>
      <p>My community</p>
      <span class="notificationCard">10</span>
    </div>
    <app-my-community-card
      [CommunityName]="CommunityName[0]"
      [totalMembers]="totalMembers[0]"
      [linkImage]="linkImage"
    ></app-my-community-card>
    <app-my-community-card
      [CommunityName]="CommunityName[1]"
      [totalMembers]="totalMembers[1]"
      [linkImage]="linkImage"
    ></app-my-community-card>
    <app-my-community-card
      [CommunityName]="CommunityName[2]"
      [totalMembers]="totalMembers[2]"
      [linkImage]="linkImage"
    ></app-my-community-card>
  </section>
  <hr class="breakline" />
  <section class="upcommingEvent">
    <div>
      <p>Upcomming Event</p>
      <span class="notificationCard">10</span>
    </div>
    <app-upcomming-event-card
      [date]="date"
      [title]="title"
      [interested]="interested"
      [going]="going"
    ></app-upcomming-event-card>
    <app-upcomming-event-card
      [date]="date"
      [title]="title"
      [interested]="interested"
      [going]="going"
    ></app-upcomming-event-card>
    <app-upcomming-event-card
      [date]="date"
      [title]="title"
      [interested]="interested"
      [going]="going"
    ></app-upcomming-event-card>
    <app-upcomming-event-card
      [date]="date"
      [title]="title"
      [interested]="interested"
      [going]="going"
    ></app-upcomming-event-card>
  </section>
</section>
